<tr class="manage-folder-row" id="manage-folder-{{ f.id }}" data-folder-id="{{ f.id }}" data-folder-feed-count="{{ f.feed_count }}">
  <td class="col-name">
    <span class="manage-editable manage-folder-name" data-edit-field="name" data-edit-url="/folders/{{ f.id }}/rename"
          title="ダブルクリックで編集">{{ f.name }}</span>
  </td>
  <td class="col-count">{{ f.feed_count }}</td>
  <td class="col-actions">
    <div class="manage-row-actions" data-confirm-host>
      <button type="button" class="manage-delete" data-folder-delete-confirm>削除</button>
    </div>
    <form class="manage-folder-delete-form" data-mode-form
          hx-post="/folders/{{ f.id }}/delete"
          hx-target="#manage-folder-{{ f.id }}" hx-swap="outerHTML" hidden>
      <input type="hidden" name="mode" value="detach">
    </form>
  </td>
</tr>
